<section>
  <div class="container mt-5">

    <div class="row">
      {{#each product}}

      <div class="col-md-3">
        <div class="card" style="width: 15rem; ">
          <img class="card-img-top" src="{{this.Image}}" style="max-height: 180px;" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">{{this.name}}</h3>
            <h6 class="card-category">{{this.category}}</h6>
            <p class="card-text">{{this.description}}</p>
            <a href="#" class="btn btn-primary">buy now</a>

          </div>
        </div>
      </div>

      {{/each}}

    </div>
  </div>
</section>